[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=frog_user
Group=frog_user

WorkingDirectory=/home/frog_user/motivatobot/
Environment="PYTHONPATH=/home/frog_user/motivatobot/"
ExecStart=/home/frog_user/motivatobot/.venv/bin/python /home/frog_user/motivatobot/project_bot_hw.py

[Install]
WantedBy=multi-user.target