[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=riia
Group=riia

WorkingDirectory=/home/riia/motivatobot/
Environment="PYTHONPATH=/home/riia/motivatobot/"
ExecStart=/home/riia/motivatobot/.venv/bin/python /home/riia/motivatobot/project_bot_hw.py

[Install]
WantedBy=multi-user.target